<html>
<head>
	<title>
		New Express App
	</title>
	<link type="text/css" rel="stylesheet" href= "<%= path %>static/css/bootstrap.min.css">
</head>
<body>
	<div class="input-group">
		<input type="text" class="form-control"/>
		<button type="button" class="btn btn-primary btn-xs">Primary</button>
	</div>
</body>
</html>